@* The "shapes" object is an IEnumerable<dynamic>
    so we just simply enumerate it and use the previously seen
    DisplayAsync helper to display these shapes. *@

@model IEnumerable<StockPartViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
</div>
</div>
</div>

@*<header class="masthead position-relative" style="height:40px; width:2280px;margin-left: -650px; background-image: url('/media/home-bg.jpg?width=2048&amp;height=600&amp;rmode=crop&amp;rxy=0.5,0.5&amp;token=yz5Oai16HXz0tzMTm%2Fb0zebw%2F43eQBUv6A388szgi0k%3D')">

        <div class="container position-static px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 style="color:white">@T["List Of Stocks"]</h1>
                        <span class="subheading">
                            <strong style="color:white">@T.Plural(Model.Count(), "There's one Stock.", "There are {0} stocks.")</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>*@

@* Notice how we use T.Plural() to display a different string based on the number of people. You could use the lazy
    "There are {0} person(s)." technique but that would not only be grammatically incorrect, it would also be lazy :). *@


<header class="masthead" style="background-image: url('/media/home-bg.jpg?width=2048&amp;height=600&amp;rmode=crop&amp;rxy=0.5,0.5&amp;token=yz5Oai16HXz0tzMTm%2Fb0zebw%2F43eQBUv6A388szgi0k%3D')">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@T["List Of Stocks"]</h1>
                    <span class="subheading">
                        @T.Plural(Model.Count(), "There's one Stock.", "There are {0} stocks.")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 mb-4">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">



            <div class="widget-container">

                <div class="widget widget-stock-widget">
                    <div class="widget-body">


                        <ul>
                            @foreach (var m in Model)
                            {
                                <li>
                                    @m.CompanyName <br />
                                    @m.RecordedDate <br />
                                    @m.CurrentStockPrice <br />
                                </li>
                            }
                        </ul>



                    </div>
                </div>

            </div>

            </div>
        </div>
    </div>


            



            <div>
                <div>
                    <div>
